@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  --color-primary: #006241;
  --color-secondary: #d50032;
  --color-extra: #d4e9e2;
  --color-links: #00754a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base Styles */
html,
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  color: #000;
}

a {
  color: #000;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

p {
  margin: 5px 0;
  line-height: 1.7;
}

section a {
  color: #fff;
}

/* Navbar */
.navbar {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 20px; // 16 from starbucks site 20px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar li {
  margin: 0 15px;
  font-weight: bold;
}

.navbar a {
  color: #000;
  text-decoration: none;

  &:hover {
    color: var(--color-primary);
  }
}

.navbar-brand img {
  width: 50px;
  height: 50px;
}

.navbar-nav-left {
  text-transform: uppercase;
  margin-right: auto;
  flex: 1;
  margin-left: 20px;
}

.navbar-nav-right {
  img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }

  & li:first-child a {
    display: flex;
    align-items: center;
  }

  & li:nth-child(2) {
    margin: 0 5px;
  }
}

@import 'buttons';

@import 'utilities';

/* Box */
.box {
  margin-bottom: 30px;

  &-inner {
    max-width: 700px;
    margin: 0 auto;
  }

  &-text {
    max-width: 500px;
    text-align: center;
    justify-self: center;
    padding: 20px 0;
    margin: 0 auto;

    .btn {
      margin-top: 20px;
    }
  }

  &-f .box-text {
    max-width: 600px;
  }
}

/* Footer & Social */
.footer-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 30px 30px;
}

.social {
  display: flex;
  align-items: center;
  margin: 20px 0;
  img {
    width: 35px;
    height: 35px;
  }

  a {
    text-decoration: none;
    margin-right: 20px;
  }
}

.divider {
  width: 95%;
  height: 1px;
  background-color: #ccc;
  margin: 40px auto;
}

/* Hamburger Menu Icon */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
  background: none;
  border: none;
  z-index: 10;
  transition: all 0.25s;

  display: none;

  &-top,
  &-middle,
  &-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #000;
    transform: rotate(0);
    transition: all 0.5s;
  }

  &-middle {
    transform: translateY(7px);
  }
  &-bottom {
    transform: translateY(14px);
  }

  .open &-top {
    transform: rotate(45deg) translate(6px, 6px);
  }
  .open &-middle {
    display: none;
  }
  .open &-bottom {
    transform: rotate(-45deg) translate(-6px, 6px);
  }
}

/* Mobile Menu */

.mobile-menu {
  position: fixed;
  top: 85px; // 72px in Starbucks site
  right: 0;
  background-color: #fff;
  width: 90%;
  height: 100%;
  padding: 30px;
  box-shadow: inset 0 4px 3px -3px rgb(0 0 0 / 10%), inset 0 4px 2px -2px rgb(0 0 0 / 7%);
  transition: all 0.2s ease-out;

  img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  ul {
    line-height: 3;
    border-bottom: 1px solid #777;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }

  a {
    text-decoration: none;
    font-size: 20px;

    &:hover {
      color: var(--color-primary);
    }
  }

  div {
    margin-top: 20px;
  }

  div a {
    display: flex;
    align-items: center;
    font-size: 16px;
    span {
      font-size: 14px;
    }
  }
}

.hidden {
  transform: translateX(100%);
}

.no-scroll {
  overflow: hidden;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .navbar {
    img {
      width: 40px;
      height: 40px;
    }
    .navbar-nav-left,
    .navbar-nav-right {
      display: none;
    }
  }

  .footer {
    text-align: center;
  }
}

@media (min-width: 1440px) {
  .box {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }

  .divider {
    max-width: 90%;
  }
}
